* {
    margin: 0;
    padding: 0;
}

.header__{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

    /* position: fixed; */


    background-color: #000;
}

.logo__{
    display: flex;
    align-items: center;
}

.logo__img{
    padding-top: 11px;
    padding-bottom: 11px;
    width: 49.29px;
    height: 55px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo__h{
    width: 167px;
    height: 38px;

    /* 32 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    color: #00A994;
}

.menu__{
    display: flex;
    align-items: center;
    text-align: center;
    float: right;
    gap: 25px;

}

.menu__link{
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;



    color: #FFFFFF;
    transition: 0.3s;
}

.menu__link:hover {
    transform: translateY(1px);
}

.menu__link__vektor{
    width: 40px;
    height: 44px;



    /* flex: none;
    order: 4;
    flex-grow: 0; */
}

.menu__link__vektor1{
    position: absolute;

}

.footer__{
    margin-top: 64px;
    background-color: black;

    /* padding: 40px; */
    padding: 40px 0px 40px 0px;

    display: flex;
    justify-content: space-around;
}

.footer__ a{
    text-decoration: none;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

}

.footer__ p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;


    color: #00A994;

}

.footer__element{
    border-right: 3px solid rgba(0, 169, 148, 0.8);

    padding-right: 40px;

    display: flex;
    flex-direction: column;

}

.footer__element__position{
    display: flex;
}

.footer__element__position a{
    padding-top: 10px;
}

.footer__element__position p{
    margin-top: -0px;
}

.footer__element__sochi a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.footer__element__{
    display: flex;
    padding-top: 20px;
}

.footer__element__logo{
    padding-top: 10px;
    display: flex;
    margin: auto;


}

/* artyom */

.carousel__img {
    max-width: 100%;
    position: relative;
    z-index: -1;
}

.carousel__buttonl {
    margin-top: 225px;
    margin-left: 39px;
    position: absolute;
    transform: rotate(180deg);
}

.carousel__buttonr {
    margin-top: 225px;
    margin-right: 39px;
    right: 0;
    position: absolute;
}

.carousel__border {
    margin-top: -4px;
    text-align: center;
    background: #00A994;
    border-radius: 0px 0px 50px 50px;
}

.carousel__border h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #FFFFFF;
}

.carousel {
    display: flex;
    flex-direction: column;
}

.carousel__wrapper {
    max-width: 100%;
    max-height: 100%;
}

.whattosee {
    padding-bottom: 68px;
}

.whattosee__h2 {
    margin-top: 87px;
    margin-left: 100px;
    border-left: 5px solid #000000;
}

.whattosee__h2 h2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
}

.whattosee__date {
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
    flex-direction: column;
    border: 6px solid #00A994;
    text-align: center;
}

.whattosee__date h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #00D496;
}

.whattosee__date p {
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #00D496;
}

.date__text {
    padding: 48px 20px;
}

.whattosee__img {
    margin-right: 100px;
}

.whattosee__img img {
    float: right;
}

.adds__imgl {
    padding-right: 40px;
}

.adds__wrapper {
    margin-top: 40px;
}

.adds__images {
    position: absolute;
    margin-left: 100px;
}

.adds__bgreg {
    position: relative;
    width: 1373px;
    height: 331px;
    background: rgba(13, 183, 155, 0.2);
    border-radius: 0px 30px;
    transform: translateX(-49px);
    z-index: -1;
}

.adds__pwrapper {
    position: absolute;
    margin-top: 60px;
    margin-left: 45px;
    display: flex;
    right: 0;   
}

.adds__pl p {
    margin-right: 60px;
    padding-top: 20px;
    border-top: 2px solid #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */
    color: #000000;
}

.adds__pr p {
    margin-right: 160px;
    padding-top: 20px;
    border-top: 2px solid #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */
    color: #000000;
}

.btn {
    padding: 30px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
}

.btn-green {
    background: #00A994;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-green:hover {
    transform: translateY(3px);
    background: #018374;
}

.btnwatch {
    margin-right: 100px;
    position: absolute;
    display: inline;
    right: 0;
    transform: translateY(-49px);
}

.add {
    margin-top: 72px;
    text-align: center;
    border-width: 2px 0px;
border-style: solid;
border-color: #000000;
border-radius: 0px;
}

.add h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.poster__wrapper {
    margin-top: 62px;
    text-align: center;
}

.poster__rect {
    display: inline-block;
    width: 1240px;
    background: #00A994;
}

.poster__rect h3 {
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.poster__pictures {
    margin-top: 20px;
}

.poster__pictures img {
    padding-right: 15px;
}

.poster__pictures img:last-child {
    padding-right: 0px;
}

